@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;700&family=Questrial&display=swap');
@import "../valuables/valuables";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Questrial', sans-serif;
}

body {
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bellota';
  margin: 0;
}

a {
  color: $textcolor;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
