@charset "UTF-8";
@import "../valuables/valuables";

.title {
  height: 100vh;
}
.titleInner {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

// .title__menu {
//   list-style: none;
//   padding-inline-start: 0;
//   font-size: $middle;
//   li {
//     padding: 8px 0;
//   }
// }

.title__scroll {
  font-size: .8em;
  animation: scroll 1s ease infinite alternate;
  display: block;
  position: absolute;
  bottom: 30px;
  left: auto;
  width: 100%;
  text-align: center;
}

@keyframes scroll {
  0% {
    margin: -3px 0 3px 0;
  }
  100% {
    margin: 0;
  }
}

.backToTop {
  font-weight: bolder;
  transform: translateY(40px);
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  background: #fff;
  box-shadow: $shadow;
  transition: all 1s;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  &:after {
    font-family: "FontAwesome";
    content: "\f062";
    font-size: 25px;
  }
}

@media (min-width: $tbwidth) {
  .titleInner {
    width: $tbInner;
  }
  .title__scroll {
    font-size: 1em;
  }
}

// works
.works {
  margin: 0 10px;
  padding: 35px 0;
}
.works__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.works__items__item {
  display: block;
  position: relative;
  width: 49%;
  height: 150px;
  background: #fff;
  margin: 0 0 20px;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 150px;
    opacity: 0;
  }
  &:focus,
  &:active {
    &:after {
      opacity: 1;
    }
  }
  &-1 {
    background: url("../img/all.png") center center / cover;
    &:focus,
    &:hover {
      &:after {
        content: "logo";
      }
    }
  }
  &-2 {
    background: url("../img/firstview.png") center center / cover;
    &:focus,
    &:hover {
      &:after {
        content: "portfolio";
      }
    }
  }
}

@media (min-width: $tbwidth) {
  .works {
    width: 750px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .works__items__item {
    width: 32%;
    height: 200px;
    &:after {
      height: 200px;
      line-height: 200px;
    }
  }
}

@media (min-width: $pcWidth) {
  .works {
    width: $pcInner;
  }
  .works__items__item {
    &:hover {
      &:after {
        opacity: 1;
        transition: all .5s ease;
      }
    }
  }
}

// biography

.biographyWrap {
  padding: 35px 10px 40px;
  background: #fff;
}
.biography__text {
  list-style: none;
  font-weight: lighter;
  line-height: 1.7;
}

@media (min-width: $tbwidth) {
  .biographyWrap {
    padding: 40px 0 50px;
  }
  .biography {
    display: table;
    width: 750px;
    margin: 0 auto 20px;
  }
  .biography__heading {
    display: table-cell;
    width: 32%;
    text-align: right;
    vertical-align: top;
  }
  .biography__text {
    display: table-cell;
    padding: 0 0 0 2%;
    margin: 0;
  }
}

@media (min-width: $pcWidth) {
  .biography {
    width: $pcInner;
  }
}
