@charset "UTF-8";
@import "../valuables/valuables";

// slick

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  border: none;
  background: none;
  cursor: pointer;
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
  &:after {
    font-family: "FontAwesome";
    font-size: 40px;
    color: $mainColor;
  }
}
.slick-prev {
  left: 0;
  z-index: 10;
  &:after {
    content: "\f104"
  }
}
.slick-next {
  right: -30px;
  &:after {
    content: "\f105";
  }
}
.slick-dots {
  margin: 10px 0 0;
  list-style: none;
  text-align: center;
  cursor: pointer;
  li {
    display: inline-block;
    button {
      display: block;
      font-size: 0;
      border: none;
      background: none;
      margin: 0 3px;
      &:after {
        color: $disabled;
        content: "●";
        font-size: 12px;
      }
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
    }
    &.slick-active {
      button {
        &:after {
          color: $mainColor;
          transition: all .7s ease;
        }
      }
    }
  }
}

@media (min-width: $tbwidth) {
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}
