@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&family=Raleway:wght@300;500;800&display=swap");
@import url(base/reset.css);
* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', 'Noto Sans JP',sans-serif;
  font-size: 1.1em;
}

body {
  background: #c6ffdd;
  background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
}
body.is-modal-open {
  height: 100vh;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .7s ease;
}
a:hover {
  color: #333;
}

.fadein {
  transform: translateY(20px);
  transition: all 1s;
  opacity: 0;
}

.title {
  height: 100vh;
}

.titleInner {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title__scroll {
  font-size: .8em;
  animation: scroll 1s ease infinite alternate;
  display: block;
  position: absolute;
  bottom: 30px;
  left: auto;
  width: 100%;
  text-align: center;
}

@keyframes scroll {
  0% {
    margin: -3px 0 3px 0;
  }
  100% {
    margin: 0;
  }
}
.backToTop {
  font-weight: bolder;
  transform: translateY(40px);
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 1s;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.backToTop:after {
  font-family: "FontAwesome";
  content: "\f062";
  font-size: 25px;
}

@media (min-width: 768px) {
  .titleInner {
    width: 700px;
  }

  .title__scroll {
    font-size: 1em;
  }
}
.works {
  margin: 0 10px;
  padding: 35px 0;
}

.works__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.works__items__item {
  display: block;
  position: relative;
  width: 49%;
  height: 150px;
  background: #fff;
  margin: 0 0 20px;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.works__items__item:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  height: 150px;
  width: 100%;
  text-align: center;
  line-height: 150px;
  opacity: 0;
}
.works__items__item:focus:after, .works__items__item:active:after {
  opacity: 1;
}
.works__items__item-1 {
  background: url("../img/all.png") center center/cover;
}
.works__items__item-1:focus:after, .works__items__item-1:hover:after {
  content: "logo";
}
.works__items__item-2 {
  background: url("../img/firstview.png") center center/cover;
}
.works__items__item-2:focus:after, .works__items__item-2:hover:after {
  content: "portfolio";
}

@media (min-width: 768px) {
  .works {
    width: 750px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .works__items__item {
    width: 32%;
    height: 200px;
  }
  .works__items__item:after {
    height: 200px;
    line-height: 200px;
  }
}
@media (min-width: 1024px) {
  .works {
    width: 1000px;
  }

  .works__items__item:hover:after {
    opacity: 1;
    transition: all .5s ease;
  }
}
.biographyWrap {
  padding: 35px 10px 40px;
  background: #fff;
}

.biography__text {
  list-style: none;
  font-weight: lighter;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .biographyWrap {
    padding: 40px 0 50px;
  }

  .biography {
    display: table;
    width: 750px;
    margin: 0 auto 20px;
  }

  .biography__heading {
    display: table-cell;
    width: 32%;
    text-align: right;
    vertical-align: top;
  }

  .biography__text {
    display: table-cell;
    padding: 0 0 0 2%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .biography {
    width: 1000px;
  }
}
.h1 {
  font-size: 2.5em;
  font-weight: bolder;
  margin: 0 0 25px;
}

.h2 {
  font-size: 3em;
  margin: 0 0 25px;
}

.h3 {
  font-size: 2em;
  margin: 0 0 12px;
  font-weight: normal;
}

.h4 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 15px 0 10px;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 4em;
  }

  .h2 {
    margin-bottom: 30px;
  }
  .h2-biography {
    width: 1000px;
    margin: 0 auto 30px;
  }
}
.modal-area__items {
  padding: 30px 25px;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95);
  overflow-y: scroll;
  z-index: 10;
}

.modal-area__close {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 20;
  transition: all .7s ease-in-out;
  cursor: pointer;
}
.modal-area__close:after {
  font-family: "FontAwesome";
  content: "\f057";
  font-size: 40px;
}

.modal-area__items__img div img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.modal-area__items__heading {
  border-bottom: 2px solid #000;
  font-size: 1.2em;
  font-weight: normal;
  padding: 0 0 5px;
  margin: 20px 0 0;
}

.modal-area__items__description__text {
  margin: 10px 0 0;
  font-weight: lighter;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .modal-area__items {
    padding: 40px calc((100% - 700px) / 2);
  }

  .modal-area__close {
    top: 30px;
    right: 30px;
  }

  .modal-area__items__img {
    margin-top: 70px;
  }
  .modal-area__items__img div img {
    width: auto;
    height: 40%;
    max-height: 400px;
    min-height: 200px;
    margin: 0 auto;
  }

  .modal-area__items__heading {
    margin: 30px auto 0 0;
    padding-bottom: 10px;
    width: calc(700px * .6 - 30px);
  }

  .modal-area__items__description {
    display: table;
    width: 700px;
    margin: 10px auto 0;
  }

  .modal-area__items__description__text {
    display: table-cell;
    padding: 0 30px 0 0;
    width: 60%;
  }
  .modal-area__items__description__text-data {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .modal-area__items {
    padding: 40px calc((100% - 1000px) / 2);
  }

  .modal-area__items__heading {
    width: 570px;
  }

  .modal-area__items__description {
    width: 1000px;
  }
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.slick-arrow:active, .slick-arrow:focus {
  outline: none;
  border: none;
}
.slick-arrow:after {
  font-family: "FontAwesome";
  font-size: 40px;
  color: #000;
}

.slick-prev {
  left: 0;
  z-index: 10;
}
.slick-prev:after {
  content: "";
}

.slick-next {
  right: -30px;
}
.slick-next:after {
  content: "\f105";
}

.slick-dots {
  margin: 10px 0 0;
  list-style: none;
  text-align: center;
  cursor: pointer;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li button {
  display: block;
  font-size: 0;
  border: none;
  background: none;
  margin: 0 5px;
}
.slick-dots li button:after {
  color: #aaa;
  content: "●";
  font-size: 18px;
}
.slick-dots li button:active, .slick-dots li button:focus {
  outline: none;
  border: none;
}
.slick-dots li.slick-active button:after {
  color: #000;
  transition: all .7s ease;
}

@media (min-width: 768px) {
  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
