@charset "UTF-8";
@import "../valuables/valuables";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&family=Raleway:wght@300;500;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', 'Noto Sans JP',sans-serif;
  font-size: 1.1em;
}

body {
  background: #c6ffdd;
  background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  &.is-modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
}

a {
  color: inherit;
  transition: all .7s ease;
  &:hover {
    color: $disabled;
  }
}

i {
  font-family: "FontAwesome";
}

.fadein {
  transform: translateY(20px);
  transition: all 1s;
  opacity: 0;
}
