@charset "UTF-8";

@import "../valuables/valuables";

.detail {
  margin: 30px 0 0;
}
.detail__item__main {
  text-align: center;
  img {
    max-width: 100%;
    max-height: 400px;
  }
}
.detail__item__thumbnail {
  margin: 15px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    display: block;
    width: 17%;
    height: auto;
  }
}
.detail__data {
  margin: 30px 0 0;
}
.detail__data__text {
  font-size: 18px;
  span {
    display: block;
    margin: 0 0 10px;
  }
  strong {
    font-size: 26px;
  }
  p {
    margin: 20px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }
}
.detail__data__form {
  margin: 30px 0 0;
  text-align: right;
}
.detail__data__form__size {
  display: block;
  margin: 0 0 15px auto;
}

@media (min-width: $tbWidth) {
  .detail {
    display: table;
  }
  .detail__item__thumbnail {
    cursor: pointer;
    img {
      &:hover {
        @include imghover;
      }
    }
  }
  .detail__item {
    display: table-cell;
  }
  .detail__item__main {
    height: 400px;
  }
  .detail__data {
    display: table;
    width: 100%;
    margin-top: 40px;
  }
  .detail__data__text {
    display: table-cell;
    padding: 0 10px 0 0;
    width: 60%;
  }
  .detail__data__form {
    display: table-cell;
    vertical-align: bottom;
    width: 40%;
  }
}

@media (min-width: $pcWidth) {
  .detail__item {
    width: $pcColumnInner;
  }
}
